$desktop: 1050px;
$pad: 380px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content
    }
}
@mixin pad{
    @media(min-width: #{$pad}) and (max-width: #{$desktop}){
        @content
    }
}


body, html {
    height: 100%;
    background-color: YELLOW;
    font-family: 'Anton', sans-serif;
        
}

.app{
   @include desktop{

    height: 100vh;
    overflow: hidden;
   } 
}

.titlediv{

    display:flex;
    flex-flow: row nowrap;
    font-size: 70%;
    border-style: none;
    border-bottom: 2px thin black;  
    box-shadow: 0 8px 6px -6px black;
    
    @include desktop{
      width: 100vw;
      margin-left: 0;
      height: 20%;
      font-size: large;
      text-align: center;
      padding-left: 30%;
        img{
            height: 90px;
            width: 80px;
        }
    }
   
}
.title{
    display:flex;
    flex-flow: row nowrap;
    margin-left: 1.5em;
    @include desktop{
    display:flex;
    flex-flow: row nowrap;
    
    }
}
.infopanel{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 51, 0);
    border-radius: 20%;
    box-shadow: 2px 3px 3px 3px;
    width: 35vh;
    margin-left: 1em;
    margin-top: 1em;
    padding: 1em;
    background-color: rgb(255, 136, 0);

    @include desktop{
        position: relative;
        left: 11%;
        top: 90%;
    }
    @include pad{
        position: relative;
        top: 90%;
        right: -45%;
     }
    
}
.loading{
    @include desktop{
        position: absolute;
        left: 9em;
        top: 11em;
    }
    @include pad{
        position: relative;
        top: 90%;
        right: -45%;
     }
}
.mapcontainer{
    width: 40vh;
    height: 40vh;
    margin-top:1em;
    margin-bottom: 0.5em;
 
    @include desktop{
        width: 40vh;
        height: 40vh;
        top: 4em;
        right: 30%;
        position: absolute;
     }
}
.map{
    @include desktop{
        position: absolute;
        float: right;
        margin-right: 2em;
        right: 22%;
    }
}
.mapprops{
    width: 40vh;
    height: 40vh;
    left: 1em;
    margin-top:1em;
    @include desktop{
        position: relative;
        width: 60vh;
        height: 60vh;
     
     }
     @include pad{
        width: 45vh;
        height: 45vh;
     }
}
button{
    cursor: pointer;
    background-color: rgba(255, 174, 0, 0);
    padding: 1em;
    border-color: aliceblue;
    border-radius: 500px;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    font-size: large;
    width: 8em;
   
}
.buttonsdiv{
    text-align: center; 
    @include desktop{
        position: absolute;
        top: 90%;
        right: 27%;
    }
    @include pad{
        position: absolute;
        top: 70%;
        left: 5%;
     }
}
.labeled_data{
    display: block;
    label{
        float: left;
    }
   .ph{
        left: 0.5em;
        text-align: start;
    }
}
.barrier{
    display: none;
    @include desktop{
        display: block;
        position: absolute;
        left: 16%;
        bottom: 2em;
        width: 150px;
    }
}

.traffic-cone{
    display: none;
    @include desktop{
        display: block;
        position: absolute;
        left: 11em;
        top: 1em;
        width: 60px;
    }
}
.navlist {
    width: 100%;
    text-decoration: none;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
  
    @include desktop{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-left: 0px;
        left: 0px;
        padding: 0px;
        
    } 
  
}

a {
    cursor: pointer;
}